@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

*{ 
    padding : 50;
    margin : 50;
} 


body {
    background-color:#BCA88D; 
    color:#113F67;
    box-sizing: border-box;
}

strong {
    color:#FDF5AA;
}

.header{
    padding: 2% 0% 0% 7%;
}

.header_menu{
    display: flex;
    gap: 50px;
}

.header_menu_link{
    padding: 3px;
    color: #113F67;
    text-align: center;
    font-family: "Federant", serif;
    font-weight: 400px;
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-evenly;
}

.presentacion__contenido{
    width: 780px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Federant", serif;
}

.presentacion__contenido__lista{
    font-size: 20px;
    font-family: "Federant", serif;
    
}

.presentacion__links{
    display: flex;
    justify-content: space-evenly;
}

.subtitulo_tiquetes{
    font-family: "Federant", serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.icono-boton{
    width: 50px;
    height: 30px;
    margin-right: 8px; 
    vertical-align: middle;

}
.presentacion__botones{
    font-family: "Federant", serif;
    width: 200px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 600px;
    text-decoration: none;
    color: #FDF5AA;
    border: 5px solid #A08963;
}

.presentacion__botones:hover{
    background-color: #A08963;
}

.footer{
    background-color: #113F67;
    padding: 3px;
    color: #A08963;
    text-align: center;
    font-family: "Federant", serif;
    font-weight: 400px;
}


video {
  border: 3px solid #333;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.imagen-historia {
    width: 300px;
    height: auto;
    border-radius: 10px;
}